<h1>Meetings</h1>

<censeo-async-loader *ngIf="data$ | async as data" [loading]="loading$ | async">
  <div class="col-12 text-right pb-3">
    <button
      type="submit"
      class="p-button-sm"
      pButton
      icon="pi pi-plus"
      label="Add Meeting"
      (click)="manageMeeting()"
    ></button>
  </div>

  <p-table
    [value]="data.meetings || []"
    sortField="created"
    [sortOrder]="sortOrder"
    styleClass="p-datatable-sm p-datatable-striped"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name">
          Name <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th class="text-center">Owners</th>
        <th class="text-center">Voters</th>
        <th pSortableColumn="created">
          Created <p-sortIcon field="created"></p-sortIcon>
        </th>
        <th class="text-center" style="width: 8rem">Manage</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-meeting>
      <tr>
        <td>{{ meeting.name }}</td>
        <td class="text-center">
          {{ meeting.owners.length }}
        </td>
        <td class="text-center">
          {{ meeting.voters?.length || 0 }}
        </td>
        <td>{{ getDateDisplay(meeting) }}</td>
        <td class="text-center">
          <button
            type="button"
            class="p-button-rounded p-button-danger mx-1"
            pButton
            icon="pi pi-pencil"
            (click)="manageMeeting(meeting, data.user)"
            [loading]="deletingMeetingId === meeting.id"
            [disabled]="!canManage(meeting, data.user)"
          ></button>
          <button
            type="button"
            class="p-button-rounded p-button-danger mx-1"
            pButton
            icon="pi pi-trash"
            (click)="deleteMeeting(meeting, data.user)"
            [loading]="deletingMeetingId === meeting.id"
            [disabled]="!canManage(meeting, data.user)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="5" class="text-center">No meetings found</td>
      </tr>
    </ng-template>
  </p-table>
</censeo-async-loader>
