.col-fixed {
  width: 150px;
}

::ng-deep {
  .p-chips {
    display: block !important;

    .p-chips-multiple-container {
      display: block;
      padding-bottom: 0;
      padding-top: 0;

      .p-chips-input-token {
        padding-bottom: 0;
        padding-top: 0;
      }

      .p-chips-token {
        margin-right: 0.375rem;
      }
    }
  }
}
